<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>Shorter | redirecting... </title>
</head>
<body>
    <div class="mainDiv" onclick="window.location.href='/'">
        <h1>SHORTER</h1>
        <span class="message">Redirecting in <span id="seconds">5</span> seconds...</span>
    </div>

    <script>
        const secondsElement = document.getElementById('seconds');
        let seconds = 5;

        // Create an interval that executes every 1000ms (1 second)
        const interval = setInterval(() => {
            // Decrease the countdown value
            seconds--;

            secondsElement.textContent = seconds;

            if (seconds === 0) {
                // Stops the interval to prevent further execution
                clearInterval(interval); 

                // Redirects the user to the provided URL
                window.location.href = "{{ .url }}";
            }
        }, 1000);
    </script>
</body>
</html>