* {
    margin: 0;
    border: 0;
}

body {
    font-family: monospace;
}

.mainDiv {
    width: 100%;
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px 0px;
    text-align: center;

}

h1 {
    font-size: 4.5em;
    padding-bottom: 30px;
    color: blueviolet;
    font-weight: 900;
    letter-spacing: 15px;
}

span {
    font-size: 1.5em;
}

input {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 20px;
    padding: 5px;
    width: 40%;
    border-bottom: 2px solid gray;
    transition: border-bottom 200ms linear;

}

input:focus {
    outline: none;
    border-bottom: 2px solid blueviolet;
}

button {
    background-color: blueviolet;
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    border-radius: 10px;
    color: white;
    border-bottom: 5px solid rgb(91, 43, 136);

    transition: border-bottom 1000ms cubic-bezier(0.64, 0.57, 0.67, 1.53);
    transition: transform 200ms cubic-bezier(0.64, 0.57, 0.67, 1.53);

    margin-bottom: 10px;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: blueviolet;
    transform: translateY(2px);
    border-bottom: 0px;
}

a {
    text-decoration: none;
    color: blueviolet;
}

.loader {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: white;
    animation: an1 1s ease infinite;
    margin-inline: auto;
}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}